[submodule "nex_protocols_common_py"]
	path = nex_protocols_common_py
	url = https://github.com/PretendoNetwork/mk8-nex-protocols-common-python.git
[submodule "grpc_py"]
	path = grpc_py
	url = https://github.com/PretendoNetwork/grpc_py.git
